.container {
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1vw;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

h2 {
  background-color: deepskyblue;
  border-radius: 5px;
  width: 5rem;
  padding: 0.3rem;
  text-align: center;
}

h2:active {
  background-color: dodgerblue;
}
